.citiesContainer{
    margin-top: 100px;
    width: 100%;
    color: black;
    font-family:Sora;
    border-bottom: 2px solid rgb(186, 185, 185);
    background-color: white;
}

.pictureContainer h2{
    margin-left: 40px;
    font-size: 1em;
}

.pictureContainer{
    display: flex;
    margin-right: 15px;
    flex-direction: row;
    column-gap: 10px;
}

.picture{
    width: 20%;
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textContainer p{
    width: 130px;
}

.textContainer{
    font-size: 14px;
    text-transform: capitalize;
    display: flex;
    flex-direction:row;
    column-gap: 75px;
    margin-left: 180px;
}

.olsTown{
    background-image: url(../../assets/images/catalina-johnson-inbePXjTh-A-unsplash\ .jpg);
}

.torg{
    background-image: url(../../assets/images/philip-myrtorp-HHtWM-4ftBE-unsplash.jpg)
}

.palace{
    background-image: url(../../assets/images/344595-Stockholm-Royal-Palace-Stockholms-Slott.webp)
}

.museum{
    background-image: url(../../assets/images/24e7e5da3d8e40bbbee259ea6431d176.avif)
}

.skansen{
    background-image: url(../../assets/images/djurgardenskansen-2-.jpeg);
    background-position: center;
}

.hall{
    background-image: url(../../assets/images/anastacia-dvi-SvwMa5Mwzoc-unsplash.jpg);

}

