.songs{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mostPopular{
    text-transform: capitalize;
    background-color: #CAC3BD;
    width: 100%;
    height: 12vh;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-family: sans-serif;
}

.songsContainer{
    display: flex;
}

.songsContainer p{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
}

.picture{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
    width: 450px;
    max-width: 480px;
    height: 100vh;
}

.shakeItOut{
    background-image: url(../../assets/images/firstSong.JPG);
    color: white;
}

.cruelSummer{
    background-image: url(../../assets/images/beach.png);
}

.blankSpace{
    background-image: url(../../assets/images/secondSong.JPG);
    color: white;
}

.playContainer{
    display: flex;
    column-gap: 10px;
    margin-left: 35%;
}

.playContainer div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.playPauseLeft{
    background-image: url(../../assets/icons/play-and-pause-left.png);
}

.rewindLeft{
    background-image: url(../../assets/icons/rewind-button-left.png);
}

.pause{
    background-image: url(../../assets/icons/pause-button.png);
}

.rewindRight{
    background-image: url(../../assets/icons/rewind-button-right.png);
}

.playPauseRight{
    background-image: url(../../assets/icons/play-and-pause-right.png);
}