.emailContainer{
    margin-top: 10%;
    text-align: center;
    height: 50vh;

}

.emailContainer h1{
    font-size: 46px;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.email{
    width: 25%;
    display: flex;
    margin-left: 38%;
    border-bottom: 1px solid #27272A;

}

.email input{
    width: 300px; 
    background-color: transparent;
    border: 0;
    outline: 0;
    padding-bottom: 5px;
    font-size: 16px;

}

.email .arrow{
    background-image: url(../../assets/icons/small_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}