.footer{
    display: flex;
    background-color: #CAC3BD;
    height: 40vh;
}

.list{
    padding: 40px 50px;
    font-family:Sora;
}

.list h2{
    font-size: 20px;
}

.list p{
    font-size: 14px;
}

.footer .ladyIcon{
    width: 8%;
    height: 40%;
    margin-top: 5%;
    margin-left: 40%;
}