.newAlbum{
    height: 100vh;
    display: flex;
    margin-top: 30vh;
    column-gap: 100px;
}

.albumContainer{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-left: 10%;
    margin-top: 40px;
}

.albumContainer h1{
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.song{
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    width: 380px;
    padding: 10px 0;
}

.song p{
    margin: 0;
    width: 380px;
}

.arrow{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.welcomeTo{
    border-bottom: 1px solid #CAC3BD;
}

.BlankSpace{
    border-bottom: 1px solid #CAC3BD;
}


.welcomeTo .arrow{
    background-image: url(../../assets/icons/up-right-arrow.png);
}

.BlankSpace .arrow{
    width: 20px;
    height: 20px;
    background-image: url(../../assets/icons/right-arrow.png);
}

.style .arrow{
    background-image: url(../../assets/icons/down-right-arrow.png);
}

.listen{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    border:1px solid black;
    width: 30%;
    height: 25px;
    max-height: 40px;
    padding-top: 8px;
    text-align: center;
    border-radius: 30px;
}

.vinylDisc{
    background-image: url(../../assets/images/disc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vh;
    height: 90vh;
}