.container{
    text-align: center;
    min-width: 600px;
    max-width: 1400px;
}

.container h1{
height: 128px;
top: 130px;
font-family: 'Kaftan Serif - Trial';
font-weight: 400;
font-size: 158px;
line-height: 128px;
text-transform: capitalize;
color: #3A3535;

}

.pictureContainer{
    background-image: url(../../assets/images/background.png);
    min-height: 20vh ;
    height: 65vh;
    max-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.taylorSwift{
    background-image: url(../../assets/images/taylor.png);
    background-position: center;
    height: 85vh;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    margin-left: 30%;
    top: 60vh;
}